<div class="about">


    <ol class="list-view">

        <li class="list-item">

            <div class="list-header">
                <div class="_bubble" style="background-image: url(/assets/images/arrow.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>Current projects</h3>
                </div>
                <p class="_summary">
                    Working on a few projects like
                    <a href="https://github.com/ZorrillosDev/watchit-app">WatchItApp</a>
                    a  decentralizes the way you watch your movies. Created by my good friend
                    <a href="https://github.com/geolffreym">Geolffrey Mena</a>.
                    also on my free time on developing a HR Management system that i will showcasing late March.
                    
                </p>
            </div>
        </li>

        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(/assets/images/arrow.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>Open-source</h3>
                </div>
                <p class="_summary"> There has been different projects i've contributed on the past in different ways:
                    <a href="https://rutas.mapanica.net/#13/12.1250/-86.2500">Mapanica</a> Opensource project to display
                public transportation information for my country Nicaragua.
                    <a href="https://github.com/grote/osm2gtfs">OSM2GTFS</a> python library that allows the transformation
                of data from <a href="https://www.openstreetmap.org/">OpenStreetMap</a> and turn it in to General Transit
                Feed Specification (<a href="https://developers.google.com/transit/gtfs">GTFS</a>) the data created by the
                script can be used to create Trip planning and routes using other libraries.
                    <br/>

                Currently there is a development for Trip Planning for Our Country Nicaragua in which we are going to
                use the OpenSource project <a href="https://digitransit.fi/en/">DigiTransit</a> and adapt it to our needs,
                by doing this we are going to enable people and make it easy for them to know how to move from point A to 
                point B in a safety manner. all our data is opensource and can be download it here <a href="https://datos.mapanica.net/">Data</a>
                <br/>
                There is a short term solution for people who wants to travel visit the country by using <a
                            href="https://transportr.app/?utm_source=google_play">Transportr App on Android</a>.
            </div>
        </li>

        <li class="list-item">
            <div class="list-header">
                <div class="_bubble" style="background-image: url(/assets/images/arrow.png);"></div>
            </div>
            <div class="list-detail">
                <div class="_title-block">
                    <h3>What else ...</h3>
                </div>
                <p class="_summary">
                    I'm a self taught learner who likes to code and work with open source, Dog lover ( i have 3 ).
                    <br/>
                    i have worked on many industries like BPO, College Education (CS teacher), Transportation, Software development and
                    currently Market Research, so i have knowledge on different roles.
                    <br/>

                    Learning about Tokenomics, Blockchain distribution and Etherium Contracts for now.

                    if you wanna know more, just reach out there are many ways thanks to the internet.
                </p>
            </div>
        </li>
    </ol>
</div>