<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ "/" | relative_url  }}assets/images/profile1.jpeg"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }} <br/> <a id="company" href="https://www.schlesingergroup.com/en/">{{site.company}}</a> working on <span id="department">{{site.department}}</span></h2>
        </header>
    </section>
</div>